body {
        font-family: 'Gentium Basic', serif;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 0;
        margin: 0;
        letter-spacing: 0.2px;

    }

    aside{
      clear: both;
      padding-top: 25px;
      font-size: 0.8rem;
      color: #CCCCCC
      }


    .information{
      margin: 7% 15% 0 15%;
      font-size: 1.2rem;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out; 
      z-index: 99999;
      }
    a {
      text-decoration: none;
      }
    a:hover{
      text-decoration: none;
      }
    ul.elsewhere a{
      float: left;
      font-family: sans-serif !important;
      font-size: 1.2rem;
      text-decoration: none !important;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out; 
      text-shadow: 0 1px px #fff;
      }
    ul.elsewhere a:active{
      color: #000; 
      }
    ul.elsewhere a span{
      display: none;
      }
      
    ul{
      padding: 0 0 0 1.3em;
      margin: 0;
      } 

    li{
      list-style:decimal;
      padding-bottom: 0.3rem;
      }

    .elsewhere{
      margin: 0;
      padding: 10px 0;

      }

    .elsewhere ul{
      margin: 0;
      padding: 0;
      }

    .elsewhere li{
      list-style: none;
      margin-right: 10px;
      float: left;
      }

    .information:hover dt strong{
      color: #AAA;
      }

    dd, a{
      margin: 0 0 .3em;
      color: #444;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out; 
      }
      a {color: #DF9C5A;}

    dt{
      margin: 2em 0 .3em;
      }

    dt strong{ 
      font-family: 'Karla', sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: .15em;
      color: #ccc;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;   
      }
      @media only screen and (min-width: 768px) {
        .information{
          font-size: 1.1rem;
        }
        .information dd span {
          display: block;
        }
      }
      @media only screen and (min-width: 1200px) {
        .information {
          margin: 7% 0 0 20%;
          font-size: 1rem;
        }
        .information:hover{}
        .information:hover dd a{
        color: #DF9C5A;
        position: relative;
        }
        .information:hover dd a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          top: 48%;
          left: 0;
          background-color: #444;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1) 0ms;
      -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1) 0ms;
      transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1) 0ms;
        }
        .information:hover dd a:hover:before{
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
          -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
      -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
        }
        .information:hover dd a:hover{
        color: #444;
        }
        .information:hover dd,
        .information:hover a{
          margin: 0 0 .3em;
          color: #444;
          }
        dd, a{
        color: #aaa;
        }
        .information:hover dd>ul.elsewhere a:hover:before{
          visibility: hidden;
        }
      }

@font-face {
  font-family: "as-socialcons";
  src:url("fonts/as-socialcons.eot");
  src:url("fonts/as-socialcons.eot?#iefix") format("embedded-opentype"),
    url("fonts/as-socialcons.woff") format("woff"),
    url("fonts/as-socialcons.ttf") format("truetype"),
    url("fonts/as-socialcons.svg#as-socialcons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "as-socialcons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "as-socialcons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-behance:before {
  content: "a";
}
.icon-ello:before {
  content: "b";
}
.icon-email:before {
  content: "c";
}
.icon-envato:before {
  content: "d";
}
.icon-google-plus:before {
  content: "e";
}
.icon-instagram:before {
  content: "f";
}
.icon-medium:before {
  content: "h";
}
.icon-pinterest:before {
  content: "i";
}
.icon-twitter:before {
  content: "j";
}
.icon-vsco:before {
  content: "k";
}
.icon-linkedin:before {
  content: "g";
}
